$color-first: #fb8f1d;

$color-black: #202336;
$color-black-light: #4a4c53;
$color-black-dark: #000;
$color-black-dark-2: #042521;

$color-grey: #b8becd;
$color-grey-dark: #7d7987;
$color-grey-dark-2: #848484;
$color-grey-dark-3: #80918e;

$color-white: #fff;

$color-yellow: #ffbb0c;
