.section-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 11rem;
  padding-left: 5rem;

  & > .right {
    flex-basis: 37%;
  }
}

.section-destinations {
  width: 100%;

  & > .top,
  & > .main {
    display: flex;
    justify-content: space-between;
  }

  & > .top {
    align-items: center;
  }
}
