.header-wrapper {
  padding: 3.5rem 10.5rem 0;

  & > .top {
    display: flex;
    justify-content: space-between;
  }

  & > .main {
    display: flex;
    gap: 4rem;
  }
}

.select-wrapper {
  @include font-inter;

  font-size: 1.5rem;
  position: relative;

  & > .select {
    color: $color-black-light;
    border-color: $color-grey;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
  }

  &::after {
    content: url(../img/expand_more.svg);
    color: $color-black-light;
    position: absolute;
    top: 0.8rem;
    right: 10%;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 26.2rem;
  padding: 0 10.5rem;
}
