.navigation-block {
  @include font-inter;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .item {
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-grey;

    &.-active {
      font-weight: 500;
      color: $color-black;
    }
  }

  & > *:not(:last-child) {
    margin-right: 3.5rem;
  }
}
