.testimonial-box {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;

  & > * {
    color: $color-black-dark;
  }

  & > .stars {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  & > .testimonial {
    font-size: 2.4rem;
  }

  & > .clientname,
  & > .clientjob {
    @include font-inter;
  }

  & > .clientname {
    font-weight: bold;
    font-size: 2.2rem;
  }

  & > .clientjob {
    font-size: 1.8rem;
    color: rgba($color-black-dark, 0.85);
  }
}
