.thousand-sunny-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.6rem;
  flex-basis: 29%;
  justify-content: space-around;

  & > * {
    color: $color-grey-dark-2;
  }

  & > .description {
    font-size: 1.8rem;
  }
}
