h1,
h3 {
  color: $color-black;
}

h1 {
  @include font-playfair-display;

  font-size: 6.4rem;
  font-weight: 700;
}

h2 {
  @include font-playfair-display;

  font-size: 3.6rem;
  font-weight: 500;
  color: $color-black-dark;
}

h3 {
  @include font-inter;

  font-size: 2.2rem;
  font-weight: 500;
}
