%absolute {
  position: absolute;
}

%absolute-bottom {
  @extend %absolute;

  bottom: 0;
}

%absolute-bottom-left {
  @extend %absolute-bottom;

  left: 0;
}

%absolute-bottom-right {
  @extend %absolute-bottom;

  right: 0;
}

%absolute-top-right {
  @extend %absolute;

  top: 0;
  right: 0;
}
